{% extends 'base.html' %}
{% load static %}

    {% block content %}

      <div class="container py-5">
        <div class="col-md-8 offset-2">

        {% comment %} <h1 class="mb-5">Password Changed</h1> {% endcomment %}
        
        
        <div class="card mb-4" id="forms">
          
          <div class="card-body">
           
            <h1>New Password Set Successfully.</h1>
            
            <div class="text-center">
              Let's <a href="{% url 'store:login' %}"> Login.</a>
            </div>
            
          </div>
        </div>

        </div>       
      </div>
{% endblock content %}