{% extends 'base.html' %}
{% load static %}

    {% block content %}

      <div class="container py-5">
        <div class="col-md-8 offset-2">

        <h1 class="mb-5">Password Reset</h1>
        <p class="text-secondary">Add your Email Address to get password reset link.</p>
        
        <div class="card mb-4" id="forms">
          
          <div class="card-body">
              
            {% include 'partials/_messages.html' %}

            <form method="post" action="">
              <fieldset>
                {% csrf_token %}

                {% for fm in form %}
                    <div class="form-group">
                        {{fm.label_tag}}
                        {{fm}}
                        <small class="text-danger">{{fm.errors|striptags}}</small>
                    </div>
                {% endfor %}
                <button class="btn btn-primary" type="submit">Submit</button>
              </fieldset>

              {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="alert alert-danger my-3">
                        {{error}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </p>
                {% endfor %}
              {% endif %}


            </form>

            
          </div>
        </div>

        </div>       
      </div>
{% endblock content %}