{% extends 'base.html' %}
{% load static %}

    {% block content %}

      <div class="container py-5">
        {% include 'partials/_messages.html' %}

        <div class="jumbotron">
          <h1>{{request.user.first_name}} {{request.user.last_name}}</h1>
          <p><strong>Email:</strong> {{request.user.email}}</p>
          <p><strong>Username:</strong> {{request.user.username}}</p>
          <p><a class="btn btn-primary btn-large" href="{% url 'store:add-address' %}">Add Address »</a> <a class="btn btn-outline-primary btn-large" href="#">My Orders »</a></p>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="card mb-4" id="headings">
              <div class="card-header">Addresses <span class="float-right"><a href="{% url 'store:add-address' %}">Add Address</a></span></div>
              <div class="card-body">
                {% if addresses %}
                    {% for address in addresses %}
                        <h4 class="mb-3">Address {{forloop.counter}}</h4>
                        <p>
                            <strong>Locality: </strong>{{address.locality}} <br>
                            <strong>City: </strong>{{address.city}} <br>
                            <strong>State: </strong>{{address.state}} <br>
                        </p>

                        <hr>
                    {% endfor %}
                {% endif %}
                
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="card mb-4" id="tables">
              <div class="card-header">Orders</div>
              <div class="card-body">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Item</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Michael</td>
                      <td>
                        <div class="bg-light border border-primary">
                            <div class="p-3 bg-primary" style="width:50%;"></div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>Lucille</td>
                      <td>Do you like them?</td>
                    </tr>
                    <tr class="success">
                      <td>3</td>
                      <td>Success</td>
                      <td></td>
                    </tr>
                    <tr class="danger">
                      <td>4</td>
                      <td>Danger</td>
                      <td></td>
                    </tr>
                    <tr class="warning">
                      <td>5</td>
                      <td>Warning</td>
                      <td></td>
                    </tr>
                    <tr class="active">
                      <td>6</td>
                      <td>Active</td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
                
              </div>
            </div>
          </div>
          
        </div>
    
        
        
      </div>
{% endblock content %}