
    .theme-line-0 {
      --layer1: #202020;}
    
    .theme-line-2 {
      --layer2: #202020;
      --layer1: #202020;}
    
    .theme-line-4 {
      --layer3: #202020;
      --layer2: #202020;
      --layer1: #202020;}
    
    .theme-line-15 {
      --layer1: #202020;
      --layer2: #202020;}
    
    .theme-line-35 {
      --layer2: #202020;}
    